@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}



body {
  background: rgb(244, 204, 151);
  display: flex;
  justify-content: center;
  align-items: center;


}
.App {
  text-align: center;
}
h1 {
  color: antiquewhite;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}


.Todowrap{
  background: linear-gradient(15deg, rgb(247, 190, 115),rgb(253, 186, 99));
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  
}
.form{
  width: 100%;
  margin-bottom: 1rem;

}
.form-input{
  outline: none;
  background: none;
  border: transparent;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color:white;
  
}

todo-input::placeholder {
  color:black;
}
.input-btn{
  background:rgb(248, 144, 8);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;

}
.input-btn:hover{
  background-color:rgb(148, 86, 5);
}
.task-p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(196, 119, 19);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;

}
.fa-trash {
  margin-left: 0.75rem;
}
.incompleted {
  color: #fff;
  cursor: pointer;
}
.completed {
  color: rgb(243, 178, 92);
  text-decoration: line-through;
  cursor: pointer;
}
.edit-icon,
.delete-icon
 {
  cursor: pointer;
}
